{% extends "blog/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <p>Welcome to your dashboard.</p>
    <a href="{% url 'blog:password_change' %}">Change password</a>
    <br>
    <a class="button create" href="{% url 'blog:add_post' %}">New post</a>
    
    {% for post in posts %}
        <h2>
            <a href="{{post.get_absolute_url}}">
                {{ post.title }}
            </a>
        </h2>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks}}
        <a class="button edit">Edit post</a><br>
        <a class="button delete">Delete post</a>
    {% endfor %}
    {% include "pagination.html" with page=posts %}
{% endblock %}