{% extends "base.html" %}
{% load humanize %}

{% block extra_title %}Dashboard - {% endblock %}

{% block content %}
    <div class="header-container"></div>
    <div class="row w-100">
        <div class="container col-12 col-lg-8 mx-auto mt-3 py-1">
            <h2>{{ user.username }}'s dashboard</h2>
            <a href="{% url 'user:password_change' %}">Change password</a>
            <br>
            <a href="{% url 'blog:add_post' %}" class="btn btn-outline border float-end">
                <span class="icon"><i class="fas fa-plus"></i></span>
                <span class="font-weight-bold">New Post</span>
            </a>
            
            {% for post in posts %}
                <h2>
                    <a href="{{post.get_absolute_url}}">
                        {{ post.title }}
                    </a>
                </h2>
                <hr class="my-1">
                <p class="date text-muted">
                    Published {{ post.publish|naturaltime }} by {{ post.author }}
                </p>
                {{ post.body|truncatewords:30|linebreaks}}
            {% endfor %}
        </div>
    </div>
    {% include "pagination.html" with page=posts %}
{% endblock %}