{% extends "base.html" %}

{% block extra_title %}Login - {% endblock %}

{% block content %}
    <div class="header-container"></div>
    <div class="row w-100">
        <div class="container col-12 col-lg-8 mx-auto py-1">
            <h2>Login</h2>
            {% if user.is_authenticated %}
                <h5 class="mt-3">You're already logged in!</h5>
                <p>
                    <a href="{% url 'user:logout' %}?next={{ request.path }}">Logout</a> or 
                    <a href="javascript:window.history.back()">Go Back</a>
                </p>
            {% else %}
                {% if form.errors %}
                    <p>
                        Your username and password didn't match.
                        Please try again.
                    </p>
                {% else %}
                    <p>Please, use the following form to log in:</p>
                    <p>Or, register for a new account <a href="{% url 'user:register' %}">here</a></p>
                {% endif %}
                <div class="login-form">
                    <form method="POST">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <p><input type="submit" value="Login"></p>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}